# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/doctor-tracker

# NextAuth.js secret (generate with: openssl rand -base64 32)
AUTH_SECRET=your-secret-key

# App URL
AUTH_URL=http://localhost:3000 #https://your-domain.com/ in production

# ImageKit (optional - for doctor profile image upload)
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=your-public-key
IMAGEKIT_PRIVATE_KEY=your-private-key
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your-id/
